.nodeFlowContainer {
  height: var(--demo-height);
  width: var(--demo-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-s);
}

.edge {
  stroke: var(--white);
}

.buttonsRow {
  display: flex;
  gap: var(--gap-s);
  justify-content: center;
  align-items: center;
}
