aside {
  position: fixed;
  top: var(--gap-l);
  right: var(--gap-l);
  width: fit-content;
  height: var(--panel-height);
  background-color: var(--white);
  border: var(--default-border);
  border-radius: var(--radius);
  padding: var(--gap-s);
  box-shadow: var(--box-shadow-modal-content);
  z-index: 5;
  display: flex;
  gap: var(--gap-small);
}

.dndnode {
  padding: var(--gap-xs);
  background-color: #f9f9f9;
  border: var(--panel-border);
  border-radius: var(--radius-s);
  cursor: pointer;
}

.dndnode:hover {
  background-color: var(--panel-node-hover);
}

.smallText {
  color: var(--white);
  text-align: center;
  vertical-align: middle;
  padding: var(--gap-xs);
  font-weight: var(--main-font-weight);
  font-size: 0.5rem;
  color: var(--white);
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

.textTop {
  padding-top: 0;
}

.textBottom {
  padding-top: var(--gap-m);
}
