aside {
  position: fixed;
  top: var(--gap-m);
  right: var(--gap-m);
  left: var(--gap-m);
  width: 100%;
  max-width: fit-content;
  background-color: var(--white);
  border: var(--default-border);
  border-radius: var(--radius);
  padding: var(--gap-s);
  box-shadow: var(--box-shadow-modal-content);
  z-index: 1;
  display: flex;
  gap: var(--gap-small);
  flex-wrap: wrap;
}

.dndnode {
  padding: var(--gap-xs);
  background-color: var(--dnd-node-bg);
  border: var(--panel-border);
  border-radius: var(--radius-s);
  cursor: pointer;
  width: 70px;
}

.dndnode:hover {
  background-color: var(--panel-node-hover);
}

.smallText {
  color: var(--white);
  text-align: center;
  vertical-align: middle;
  padding: var(--gap-xs);
  font-weight: var(--main-font-weight);
  font-size: 0.5rem;
  color: var(--white);
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

.textTop {
  padding-top: 0;
}

.textBottom {
  padding-top: var(--gap-l);
}

.textCenter {
  padding-top: var(--gap-m);
}

.cloneNode {
  position: absolute;
  opacity: 0.5;
  pointer-events: 'none';
}
