:root {
  --white: #fff;
  --demo-output: #ff0072;
  --demo-input: #3877f3;
  --demo-attention: #ff4d4f;
  --demo-map-bg: #eee;

  --demo-height: 600px;
  --demo-width: 800px;

  --gap-s: 10px;

  --radius: 8px;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors, backgrounds */
  --rhombus-main-color: #4a55f7;
  --triangle-main-color: #d48a01;
  --rectangle-main-color: #006a8a;
  --ellipse-main-color: #fdcb27;

  /* sizes */
  --outline-width: 10px;
  --small-outline-width: 4px;

  /* fonts */
  --main-font-size: 18px;
  --main-font-weight: 500;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.react-flow__node-selectorNode {
  border: 1px solid #777;
  padding: 10px;
  background: 'var(--white)';
  background-color: var(--white);
  border-radius: var(--radius);
}

.react-flow__node-resizableNodeSelected {
  background-color: var(--white);
  border-radius: var(--radius);
}
