:root {
  /* colors, backgrounds */
  --rhombus-main-color: #8331ff;
  --rhombus-ellipsis-main-color: #6b8dff;
  --triangle-main-color: #d48a01;
  --rectangle-main-color: #006a8a;
  --ellipse-main-color: #fdcb27;
  --white: #fff;
  --demo-output: #ff0072;
  --demo-input: #3877f3;
  --demo-attention: #ff4d41;
  --demo-map-bg: #eee;
  --demo-exit: #07a472;
  --modal-bg: rgba(0, 0, 0, 0.5);
  --close-icone-color: #888;

  /* sizes */
  --outline-width: 10px;
  --small-outline-width: 4px;
  --demo-height: 600px;
  --demo-width: 800px;
  --radius: 8px;
  --radius-s: 4px;
  --select-node-height: 30px;
  --select-node-width: 100px;
  --panel-width: 100px;

  /* fonts */
  --main-font-size: 18px;
  --main-font-weight: 500;
  --big-font-size: 24px;

  /* shadows */
  --box-shadow-action-icon: 0 0 5px -2px rgba(49, 49, 49, 0.8);
  --box-shadow-modal-content: 0 2px 10px rgba(0, 0, 0, 0.1);

  /* gaps */
  --gap-small: 6px;
  --gap-xs: 8px;
  --gap-s: 10px;
  --gap-m: 16px;
  --gap-l: 20px;
  --node-margin: 15px;

  /* borders */
  --default-border: 1px solid #ccc;
  --panel-border: 1px solid #ddd;

  /* hovers */
  --panel-node-hover: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
}

.react-flow__node-selectorNode {
  border: 1px solid #777;
  padding: 10px;
  background: 'var(--white)';
  background-color: var(--white);
  border-radius: var(--radius);
}

.react-flow__node-resizableNodeSelected {
  background-color: var(--white);
  border-radius: var(--radius);
}
